<div *ngIf="needsDT && needsDD" class="grid-item" (click)="toggleState()">
    <template ngFor [ngForOf]="head" [ngForTemplate]="treeGrid.header"></template>
</div>
<div *ngIf="needsDD" class="grid-tree-item"
    [class.grid-tree-child]="needsDT"
    [class.closed]="closed"
    [style.columnCount]="treeGridCols">

    <tree-grid *ngFor="let nodeId of nodes"
        [tree-grid]="treeGrid"
        [node-id]="nodeId"
        [grid-type]="gridType"
        [grid-columns]="gridCols"
    ></tree-grid>
    <grid
        [grid-items]="elements"
        [grid-templates]="treeGrid.contentTpls"
        [grid-type]="gridType"
        [grid-columns]="gridCols"
    ></grid>
</div>