<app-menu-frame [ui-element]="uiElement" [ui-closed]="closed" [ui-flat]="flat">
    <tree-grid class="contained"
        [tree-grid]="treeList"
        [grid-type]="gridType"
        [grid-columns]="gridCols"
        [tree-grid-columns]="treeGridCols">

        <app-menu-title template="let app"
            [app-label]="app.label"
            [app-style]="appStyle"
            [only-icons]="onlyIcons"
            [title-closed]="app.closed">
		</app-menu-title>

        <app-menu-item template="let app"
            [app-icon]="app.icon"
            [app-label]="app.label"
            [app-route]="app.route"
            [app-id]="app.id"
            [app-style]="appStyle"
            [only-icons]="onlyIcons"
            app-indent="6px">
		</app-menu-item>
    </tree-grid>
    <ng-content class="framed"></ng-content>
</app-menu-frame>


