<button dnd-draggable [dragEnabled]="componentDragEnabled" [dragData]="getDraggableData()" fxLayout="row" fxLayoutAlign="start center"
  [class.only-label]="icon" class="item {{ style }}">
  <mat-icon *ngIf="icon" [style.paddingLeft]="indent" class="material-icons item-icon">{{ icon }}</mat-icon>
  <mat-icon *ngIf="svgIcon" svgIcon="{{ svgIcon }}" [style.paddingLeft]="indent" class="material-icons item-icon"></mat-icon>
  <div class="item-label" fxLayout="center">
    <span class="item-label-text">{{ label | odfbTranslate }}</span>
  </div>
</button>
