mat-form-field {
  &.ng-invalid.ng-touched .mat-input-wrapper {
    .mat-hint,
    .mat-input-placeholder.mat-focused {
      color: #f44336;
    }

    .mat-input-underline {
      border-top-color: #f44336;

      .mat-input-ripple {
        background-color: #f44336;
      }
    }
  }
}
