<div fxLayout="row" layout-padding [formGroup]="getFormGroup()">
  <mat-form-field fxFlex>
    <input matInput [attr.type]="data.type === 'number' ? 'number' : 'text'" [attr.step]="data.type === 'number' ? 1 : undefined"
      [attr.min]="data.type === 'number' ? -1000 : undefined" [attr.max]="data.type === 'number' ? 1000 : undefined" [placeholder]="data.label"
      [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)" [formControlName]="getPropertyName()">
    <mat-hint *ngIf="fControl.touched && fControl.errors">
      <span *ngIf="fControl.errors?.required">FORM_VALIDATION.REQUIRED</span>
      <span *ngIf="fControl.errors?.minlength">FORM_VALIDATION.MIN_LENGTH: {{ fControl.errors?.minlength.requiredLength }}</span>
      <span *ngIf="fControl.errors?.maxlength">FORM_VALIDATION.MAX_LENGTH: {{ fControl.errors?.maxlength.requiredLength }}</span>
    </mat-hint>
  </mat-form-field>
  <mat-icon fxFlex="10" *ngIf="data.tooltip" [matTooltip]="data.tooltip" matTooltipPosition="right" class="material-icons">
    info </mat-icon>
</div>