<div fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill layout-padding [formGroup]="getFormGroup()">
    <md-input-container fxFlex="80" fxFlexFill>
       <input
            mdInput
            class="md-input"
            [attr.type]="data.type === 'number' ? 'number' : 'text'"
            [attr.step]="data.type === 'number' ? 1 : undefined"
            [attr.min]="data.type === 'number' ? -1000 : undefined"
            [attr.max]="data.type === 'number' ? 1000 : undefined"
            fxFlexFill
            [placeholder]="data.label"
            [ngModel]="getValue()"
            (ngModelChange)="innerOnChange($event)"
            [formControlName]="getPropertyName()">

            <md-hint *ngIf="fControl.touched && fControl.errors">
                <span *ngIf="fControl.errors?.required">FORM_VALIDATION.REQUIRED</span>
                <span *ngIf="fControl.errors?.minlength">FORM_VALIDATION.MIN_LENGTH: {{ fControl.errors?.minlength.requiredLength }}</span>
                <span *ngIf="fControl.errors?.maxlength">FORM_VALIDATION.MAX_LENGTH: {{ fControl.errors?.maxlength.requiredLength }}</span>
            </md-hint>
    </md-input-container>

    <md-icon fxFlex="10" fxFlexFill *ngIf="data.tooltip" [mdTooltip]="data.tooltip" mdTooltipPosition="right" class="material-icons"> info </md-icon>

</div>