<h1 mat-dialog-title> {{ component.getDirective() }} </h1>
<mat-dialog-content>
  <form #settingsForm [formGroup]="formGroup" fxLayout="column">
    <mat-grid-list cols="2" rowHeight="5:1" gutterSize="16">
      <mat-grid-tile *ngFor="let prop of component.getInputs()" fxLayoutAlign="start center">
        <boolean-metadata fxFlexFill [property]="prop" [data]="getInputData(prop)" *ngIf="comparePropertyType(prop, 'boolean')"></boolean-metadata>
        <text-metadata fxFlexFill [property]="prop" [data]="getInputData(prop)" *ngIf="comparePropertyType(prop, 'text')"></text-metadata>
        <combo-metadata fxFlexFill [property]="prop" [data]="getInputData(prop)" *ngIf="comparePropertyType(prop, 'combo')"></combo-metadata>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="save()">{{ 'SAVE' | oTranslate }}</button>
  <button mat-raised-button (click)="cancel()">{{ 'CANCEL' | oTranslate }}</button>
</mat-dialog-actions>
