// $color-primary: #E4333C; // From Imatia Web
$color-primary: rgb(218,70,68); // From Imatia Emails
// $color-primary: #009688;
// $color-primary-dark: #B3282F;
$color-primary-dark: $color-primary - #111;
$color-accent: #111111;
$text-color-primary: #111111;
$text-color-accent: #eeeeee;
$window-background: #cccccc;

@mixin fullsize {
  width: 100%;
  height: 100%;
}

@mixin animated {
  transition: 350ms;
  transition-timing-function: ease-in-out;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #E0E0E0;
}

::-webkit-scrollbar-thumb:hover {
  background: #BDBDBD;
}

::-webkit-scrollbar-thumb:active {
  background: #9E9E9E;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #F5F5F5;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

o-dynamic-form-builder {

  .dynamicform-container {
    height: 100%;

    .dropzone-container {
      height: 95%;
      overflow: auto;
    }
  }
}
